<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It is a test!</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <a href="{{ url_for('friend_get') }}" target="_blank" class="button">
        <h1>친구 목록</h1>
    </a>
    <a href="{{ url_for('friend_get') }}" target="_blank" class="button">
        <h1>아갤</h1>
    </a>
    <a href="{{ url_for('friend_get') }}" target="_blank" class="button">
        <h1>미정</h1>
    </a>
</body>
</html>
