<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js Example</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="./static/styles.css" />
  </head>
  <body>
    <div>
      <div class="button-container">
        <a :href="urlForFriendGet" target="_self" class="button"
          >Server Side Rendering</a
        >
        <a :href="urlForFriendGet" target="_self" class="button">친구 목록</a>
        <a :href="urlForFriendGet" target="_self" class="button">{{ title }}</a>
      </div>
    </div>
    <div id="app">
      <span v-text="currentTime" id="real-time"></span>
    </div>
    
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          currentTime: "",
          urlForFriendGet: '{{ url_for("friend_get") }}',
        },
        methods: {
          updateTime() {
            const currentTime = new Date();
            const hours = currentTime.getHours().toString().padStart(2, "0");
            const minutes = currentTime
              .getMinutes()
              .toString()
              .padStart(2, "0");
            const seconds = currentTime
              .getSeconds()
              .toString()
              .padStart(2, "0");
            this.currentTime = `${hours}:${minutes}:${seconds}`;
          },
          showCurrentTime() {
            this.updateTime();
          },
        },
        mounted() {
          setInterval(this.updateTime, 1000);
        },
      });
    </script>
  </body>
</html>
